{% extends "base.html" %}

{% block content %}
    <h2>Acerca de BiblioTech Beltrán</h2>
    <p>Este proyecto es parte de la asignatura de DESARROLLO DE APLICACIONES WEB, desarrollado por <strong>María Beltrán</strong>.</p>
    <p>El objetivo es crear una plataforma eficiente para la consulta y gestión de recursos bibliográficos de manera digital.</p>
    
    <h3>Misión del Proyecto</h3>
    <ul>
        <li>Organizar el catálogo de libros mediante rutas dinámicas.</li>
        <li>Implementar una interfaz limpia usando plantillas Jinja2.</li>
        <li>Facilitar el acceso a la información desde cualquier navegador.</li>
    </ul>
{% endblock %}