{% extends "base.html" %}

{% block content %}
<div class="about-container">
    <h2>Acerca de BiblioTech Beltrán</h2>
    <p>
        Este proyecto nace como una solución moderna para la gestión de libros de cualquier género. 
        Desarrollado por María Paz Beltrán Murcia para la asignatura de Desarrollo de Aplicaciones Web.
    </p>
    
    <h3>¿Qué puedes hacer aquí?</h3>
    <ul>
        <li>Organizar libros de Terror, Fantasía, Romance y más.</li>
        <li>Gestionar el inventario en tiempo real con una interfaz limpia.</li>
        <li>Generar reportes profesionales en formato PDF.</li>
    </ul>
</div>
{% endblock %}